body {
  font-family: 'Monaco',
  'Menlo',
  'Bitstream Vera Sans Mono',
  'DejaVu Sans Mono',
  'Consolas',
  'Lucida Console',
  'Courier New',
  monospace;
  margin: 1em;
  padding: 0;
  font-size: 16px;
  line-height: 1;
}

p {
  margin: 15px 5px 0 5px;
}

/* headlines */
h1, h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* code */
pre {
  margin: 10px 0 0 10px;
}

/* lists and bullets */
ul {
  margin: 15px 0 15px 50px;
}

.alert {
  margin-top: 30px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.clearer {
  clear: both;
}

