---
nav: home
description: Vimberlin - the gathering for Vim-enthusiasts in Berlin
---

<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Welcome to Vimberlin</h1>
    <p class="text-center">
      Our goal is to bring new and trained people using Vim together to talk about their practices, tools, and their habits working with Vim.
      If you want to <strong>give a talk</strong> (either a short 5 minute presentation or a longer one), please post your proposal on our
      <a href="https://groups.google.com/group/vimberlin/">mailing list</a> or ping us on <a href="https://twitter.com/vimberlin">twitter</a>.
    </p>
    <br>
    <%= next_event %>
  </div>
</div>

