---
nav: home
description: Vimberlin - the gathering for Vim-enthusiasts in Berlin
---

<div class="jumbotron">
  <div class="container">
    <p class="text-center">
      Our goal is to bring new and trained people using <a rel="noopener noreferrer" target="_blank" href="http://www.vim.org/">Vim</a> together to talk about their practices, tools, and their habits working with <a rel="noopener noreferrer" target="_blank" href="http://www.vim.org/">Vim</a>.
      If you want to <strong>give a talk</strong> (either a short 5 minute presentation or a longer one), please post your proposal on <a rel="noopener noreferrer" target="_blank" href="https://github.com/vimberlin/vimberlin.de/issues/29">GitHub</a>, ping us on <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/vimberlin">twitter</a> or on our
      <a rel="noopener noreferrer" target="_blank" href="https://groups.google.com/group/vimberlin/">mailing list</a>.
    </p>
    <br>
    <%= next_event %>
  </div>
</div>

