<div class="footer--colophon">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="footer--colophon__copyright">&copy;<%= Date.today.year %> Copyright no one at all - Vim is free.</p>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <p class="footer--colophon__poweredby">Powered by <a href="https://github.com/timknight/middleman-ethos" target="_blank">Ethos</a></p>
      </div>
    </div>
  </div>
</div>
