<div class="footer--colophon hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <p class="footer--colophon__copyright">&copy;<%= Date.today.year %> Copyright no one at all - Vim is free
          <a style="border-left: #d5dbde 1px solid;margin-left: 8px;
          padding-left: 12px;" href="/imprint"> Imprint</a>
          <a style="border-left: #d5dbde 1px solid;margin-left: 8px; padding-left: 12px;"href="/contact">Contact</a>
          <a target="_blank" rel="noopener noreferrer" href="http://vimfest.org" style="border-left: #d5dbde 1px solid;margin-left: 8px; padding-left: 12px;"href="/contact">Vimfest</a>
          <a style="border-left: #d5dbde 1px solid;margin-left: 8px; padding-left: 12px;" target="_blank" rel="noopener noreferrer" href="https://groups.google.com/group/vimberlin/#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          &nbsp;
          <a target="_blank" rel="noopener noreferrer" href="http://feeds.feedburner.com/vimberlin"><i class="fa fa-rss" aria-hidden="true"></i></a>
          &nbsp;
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/vimberlin"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          &nbsp;
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/vimberlin/vimberlin.de"><i class="fa fa-github" aria-hidden="true"></i></a>

        </p>
      </div>
      <div class="col-md-2 col-md-offset-3 hidden-xs">
        <p class="footer--colophon__poweredby">Powered by <a href="https://github.com/timknight/middleman-ethos" target="_blank">Ethos</a></p>
      </div>
    </div>
  </div>
</div>

<% if !development? %>
  <%= insert_piwik_tracker %>
<% end %>

