<footer class="footer hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <h4>About Us</h4>
        <ul class="list-unstyled">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/imprint">Imprint</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="http://vimfest.org">Vimfest</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Follow Us</h4>
        <ul class="list-unstyled">
          <li><a target="_blank" rel="noopener noreferrer" href="https://groups.google.com/group/vimberlin/#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            &nbsp;
            <a target="_blank" rel="noopener noreferrer" href="http://feeds.feedburner.com/vimberlin"><i class="fa fa-rss" aria-hidden="true"></i></a>
            &nbsp;
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/vimberlin"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            &nbsp;
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/vimberlin/vimberlin.de"><i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
