<nav class="nav-footer" role="navigation">
  <ul class="list-inline">
    <li><a href="">[Link]</a></li>
    <li><a href="">[Link]</a></li>
    <li><a href="">[Link]</a></li>
    <li><a href="">[Link]</a></li>
    <li><a href="">[Link]</a></li>
  </ul>
</nav>