<footer class="footer hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <h4>About Us</h4>
        <ul class="list-unstyled">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/legal">Legal notice</a></li>
          <li><a href="mailto:&#118;&#105;&#109;&#098;&#101;&#114;&#108;&#105;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109">Contact</a></li>
          <li><a target="_blank" href="http://vimfest.org">vimfest</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Follow Us</h4>
        <ul class="list-unstyled">
          <li><a target="_blank" href="https://twitter.com/vimberlin">Twitter</a></li>
          <li><a target="_blank" href="http://eepurl.com/3M3LH">Newsletter</a></li>
          <li><a target="_blank" href="http://feeds.feedburner.com/vimberlin">RSS</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
