<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2 hidden-xs">
        <%= link_to_if(!current?("home"), image_tag("https://pbs.twimg.com/profile_images/1761428936/vim10_200x200.JPG"), "/") %>
      </div>
      <div class="col-md-10 hidden-xs">
        <h1 style="margin-left: 15px">Vimberlin</h1><br>
        <span class="headline" style="">the gathering for Vim-enthusiasts in Berlin</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= partial "layouts/shared/primary-nav" %>
      </div>
    </div>
  </div>
</header>
