<nav class="navbar navbar-default navbar-primary" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-primary">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-navicon"></i>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse nav-primary">
    <ul class="nav navbar-nav">
      <li class="<%= "active" if current?("home") %>"><a href="/">Home</a></li>
      <li><a href="#">[Link]</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">[Link] <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">[Link]</a></li>
          <li><a href="#">[Link]</a></li>
          <li><a href="#">[Link]</a></li>
          <li class="divider"></li>
          <li><a href="#">[Link]</a></li>
        </ul>
      </li>
      <li><a href="#">[Link]</a></li>
      <li class="<%= "active" if current?("contact") %>"><a href="/contact/">Contact</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">[Link]</a></li>
      <li><a href="#">[Link]</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  
</nav>