<nav class="navbar navbar-default navbar-primary" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-primary">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-navicon"></i>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse nav-primary">
    <ul class="nav navbar-nav navbar-right">
      <li class="<%= "active" if current?("home") %>"><a href="/">Home</a></li>
      <li><a href="https://groups.google.com/group/vimberlin/#">Mailing</a></li>
      <li class="<%= "active" if current?("legal") %>"><a href="/legal.html">Legal notice</a></li>
      <li><a href="http://eepurl.com/3M3LH">Newsletter</a></li>
      <li><a href="http://feeds.feedburner.com/vimberlin">RSS</a></li>
      <li><a href="https://twitter.com/vimberlin">Twitter</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
