<p><%= image_tag 'launch_co_logo.png', :class => 'title', :alt => 'LAUNCH/CO' %></p>
<p>Thanks to <a title="LAUNCH/CO" href="https://launchco.com/etc/#coworking">LAUNCH/CO</a> for hosting the event.</p>
