- <a href="https://twitter.com/guckes">@guckes</a> has countless years of experience in using Vim and he can convince you in two
minutes to use another shell then <i>Bash</i>.
- <a href="https://twitter.com/wikimatze">@wikimatze</a> - has been using Vim for a long time and use it to write a book about <a href="http://www.padrinorb.com/">Padrino</a>.

