<div class="container">
  <div class="page-header">
    <h1>Card Pattern</h1>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-image">
          <img src="http://placehold.it/500x200">
        </div>
        <div class="card-title">Welcome</div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima debitis, molestias maxime quas quaerat excepturi facere doloribus error soluta iusto aperiam veniam voluptatibus, a aspernatur sapiente tenetur, cupiditate placeat dolore!</p>
        </div>
        <div class="card-stats">
          <ul>
            <li>
              14
              <span>Things</span>
            </li>
            <li>
              31
              <span>Misc</span>
            </li>
            <li>
              99%
              <span>Stats</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-image">
          <img src="http://placehold.it/500x200">
        </div>
        <div class="card-title">A Great Article</div>
        <div class="card-datetime">
          September 1, 2014
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima debitis, molestias maxime quas quaerat excepturi facers.</p>
          <a href="" class="btn btn-primary btn-sm">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="ribbon-wrapper">
          <div class="ribbon">ON SALE</div>
        </div>
        <div class="card-image">
          <img src="http://placehold.it/500x200">
        </div>
        <div class="card-title">Awesome New Product</div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima debitis, molestias maxime quas quaerat excepturi facere doloribus error soluta iusto aperiam veniam voluptatibus, a aspernatur sapiente tenetur, cupiditate placeat dolore.</p>
        </div>
        <div class="card-stats">
          <ul>
            <li>
              $19.95
              <span>Per dozen</span>
            </li>
            <a href="" class="btn btn-primary btn-sm pull-right">Add to Cart</a>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>