<div class="container">
  <div class="page-header">
    <h1>Media Pattern</h1>
  </div>

  <div class="media">
    <div class="media-image">
      <a href=""><img src="http://placehold.it/100" alt=""></a>
    </div>
    <div class="media-content">
      <div class="media-title">
        <h4>Welcome the Media Pattern</h4>
      </div>
      <div class="media-datetime">
        September 1, 2014
      </div>
      <div class="media-copy">
        <p>Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <a href="" class="btn btn-primary btn-sm">Read More</a>
      </div>
    </div>
  </div>
</div>