- <a href="https://twitter.com/lucapette">@lucapette</a> has over 5 years of Vim experience, has written a bunch of plugins for Vim, and using editor heavenly on hacking on different Rails projects.
- <a href="https://twitter.com/guckes">@guckes</a> has countless years of experience in using Vim and he can convince you in two
minutes to use another shell then <i>bash</i>.
- <a href="https://twitter.com/wikimatze">@wikimatze</a> - using Vim for two years now and using it to write a book about <a href="http://www.padrinorb.com/">Padrino</a>.

