h1, h2, h3, h4 {
  color: #333;
  font-family: 'Voltaire', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  margin-top: 18px;
  margin-bottom: .15em;
}

h2 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 20px;
}

h3 {
  color: #777;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


.related {
  margin-top: 10px;
}

.related ul {
  margin: 0;
  padding: 0;
}

.related li {
  font-size: 14px;
  list-style: none;
  padding: 5px 0px;
  margin: 0;
  color: #777;
  border-bottom: 1px solid #eee;
}

.related li span {
  float: right;
}
.related a {
  text-decoration: none;
}

.related a:hover {
  text-decoration: underline;
}

#post {
  padding-bottom: 30px;
  margin-bottom: 30px;
  /* This will set default size (for gists for example) */
  font-size: 13px;
}

#post ul, {
  font-size: 15px;
  margin: 20px 20px 20px 0;
}

#post li {
  line-height: 1.4em;
  margin-left: 3em;
  margin-bottom: 1em;
  color: #222;
  list-style-type: square;
}

#post li code {
  border: 1px solid #ccc;
}

#post p {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 1.2em;
  line-height: 1.7em;
}

#post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 610px;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px #555;
}

#post img.noclip {
  max-width: 650px !important;
  -webkit-box-shadow: none;
}

#post .aside {
  background-color: #eee;
  padding: 14px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em;
}

#post .aside strong{}

#post .authoring {
  margin-bottom: 17px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-left: 0px;
  font-size: 17px;
  color: #777;
}

#post blockquote {
  font-style: italic;
  font-size: 14px;
  padding: .25em 1em;
  margin: 1em 1em 0 1em;
  color: #444;
}

#post blockquote cite:before {
  content: '— ';
}

#post blockquote cite {
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal;
}

#header {
  margin-top: 30px;

}

#legal {
  margin: 30px 0 30px 0;
}

/* 404 page styling */
#error {
  font: 20px Constantia, "Hoefler Text", "Adobe Caslon Pro", Baskerville, Georgia, Times, serif;
  color: #999999;
  text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
}
