body {
 line-height: 26px;
}

h1 {
  font-size: 36px;
  margin-top: 18px;
  margin-bottom: .15em;
}

h2 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
}

h3 {
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
}

h1, h2, h3, h4 {
  color: #333;
  line-height: 1em;
  font-family: 'Voltaire', sans-serif;
  font-weight: 400;
}

ul {
  margin-left: 2.1rem;
}

a:hover, .related a:hover {
  text-decoration: underline;
}

.separater {
  margin-top: 30px;
}

.related {
  margin-top: 10px;
}

.related ul {
  margin: 0;
  padding: 0;
}

.related li {
  list-style: none;
  padding: 5px 0px;
  margin: 0;
  color: #777;
  border-bottom: 1px solid #eee;
}

.related li span {
  float: right;
}

.related a {
  text-decoration: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#legal {
  margin: 30px 0 30px 0;
}

/* table */

table {
  border: 1px solid #ddd;
  margin-bottom: 1.25rem;
  table-layout: auto;
}

table thead {
  text-align: left;
}

th {
  padding: 10px;
}

table tr td {
  font-size: 0.875rem;
  padding: 0.5625rem 0.625rem;
}

/* Box */
.panel {
  background: #f2f2f2 none repeat scroll 0 0;
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 1px;
  color: #333;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
}

/* Footer list */
ul.footer-list li {
  float: left;
  list-style: none;
  margin-left: 1.375rem;
}

/* 404 page styling */
#error {
  font: 20px Constantia, "Hoefler Text", "Adobe Caslon Pro", Baskerville, Georgia, Times, serif;
  color: #999999;
  text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
}
