<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Matthias Günther and Gregor Schmidt">
  <meta name="description" content="Vimberlin - the gathering for Vim-enthusiasts in Berlin.">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/pygments.css">
  <script src="/javascript/modernizr.js"></script>

  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/favicons/manifest.json">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="vimberlin">
  <meta name="application-name" content="vimberlin">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <div class="row header separater">
    <div class="large-2 columns">
        <a href="/">
          <img src="https://pbs.twimg.com/profile_images/1761428936/vim10_400x400.JPG" alt="Vimberlin Logo">
        </a>
    </div>
    <div class="large-9 columns">
      <h1>Vimberlin<br><small> the gathering for Vim-enthusiasts in Berlin</small></h1>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="large-9 columns" role="content">
      {{ content }}
    </div>

    <aside class="large-3 columns">
      <strong class="show-for-medium-up">Next Meetup:</strong>
      <br />
      <p>{% next_meetup %}</p>
    </aside>

    <aside class="large-3 columns">
      <strong class="show-for-medium-up">Past Meetups:</strong>
      <br />
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="/january-2016-meetup">21.01.2016</a></td>
          <td><a href="https://www.in-berlin.de/">Individual Network Berlin e.V.</a></td>
        </tr>
        <tr>
          <td><a href="/december-2015-meetup">17.12.2015</a></td>
          <td><a href="https://www.in-berlin.de/">Individual Network Berlin e.V.</a></td>
        </tr>
        <tr>
          <td><a href="/november-2015-meetup">19.11.2015</a></td>
          <td><a href="https://launchco.com/etc/#coworking">LAUNCH/CO</a></td>
        </tr>
        </tbody>
      </table>
    </aside>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>{{ site.copyright }}</p>
        </div>
        <div class="large-6 columns">
          <ul class="footer-list right">
            <li><a href="https://groups.google.com/group/vimberlin/">mailing</a></li>
            <li><a href="/legal">legal notice</a></li>
            <li><a href="http://eepurl.com/3M3LH">newsletter</a></li>
            <li><a href="http://feeds.feedburner.com/vimberlin">RSS</a></li>
            <li><a href="https://twitter.com/vimberlin">twitter</a></li>
            <li><a href="/vimberlin.ics">iCal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://vimberlin.de/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();

  </script>
  <noscript><p><img src="http://vimberlin.de/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</body>
</html>
