<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Matthias Günther and Gregor Schmidt">
  <meta name="description" content="Vimberlin - the gathering for Vim-enthusiasts in Berlin.">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/pygments.css">
  <script src="/javascript/modernizr.js"></script>
</head>
<body>
  <div class="row header separater">
    <div class="large-2 columns">
        <a href="/">
          <img src="https://pbs.twimg.com/profile_images/1761428936/vim10_400x400.JPG" alt="Vimberlin Logo">
        </a>
    </div>
    <div class="large-9 columns">
      <h1>Vimberlin<br><small> the gathering for Vim-enthusiasts in Berlin</small></h1>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="large-9 columns" role="content">
      {{ content }}
    </div>

    <aside class="large-3 columns">
      <strong class="show-for-medium-up">Next Meetup:</strong>
      <br />
      <p>{% next_meetup %}</p>
    </aside>

    <aside class="large-3 columns">
      <strong class="show-for-medium-up">Past Meetups:</strong>
      <br />
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><a href="april-2015-meetup/">23.04.2015</td>
          <td><a href="http://www.thoughtworks.com/locations/berlin">Thoughtworks</a></td>
        </tr>
        <tr>
          <td><a href="february-2015-meetup/">19.02.2015</td>
            <td><a href="https://launchco.com/etc/#coworking">LAUNCH/CO</a></td>
        </tr>
        <tr>
          <td><a href="january-2015-meetup/">22.01.2015</td>
          <td><a href="http://www.thoughtworks.com/locations/berlin">Thoughtworks</a></td>
        </tr>
        </tbody>
      </table>
    </aside>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>{{ site.copyright }}</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="https://groups.google.com/group/vimberlin/">mailing</a></li>
            <li><a href="/legal">legal notice</a></li>
            <li><a href="http://eepurl.com/3M3LH">newsletter</a></li>
            <li><a href="http://feeds.feedburner.com/vimberlin">RSS</a></li>
            <li><a href="https://twitter.com/vimberlin">twitter</a></li>
            <li><a href="/vimberlin.ics">iCal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://vimberlin.de/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();

  </script>
  <noscript><p><img src="http://vimberlin.de/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</body>
</html>
