---
layout: base
---

<div itemscope itemtype="http://schema.org/Event">
  <meta itemprop="url" content="{{page.url}}">
  <header>
    <h3 itemprop="name">{{page.title}}</h3>
  </header>

  <div class="panel">
    <strong class="show-for-medium-up">Time:</strong>
    <div itemprop="startDate" content="{{page.when}}">Starts: {{page.when | date: "%B, %eth %Y %l:%M %P"}}</div>
    <div itemprop="endDate" content="{{page.ends}}">Ends: {{page.ends | date: "%B, %eth %Y %l:%M %P"}}</div>
    <br />

    <strong class="show-for-medium-up">Location:</strong>
    {% location %}
  </div>

  <div itemprop="description">
    {{ content }}
  </div>
</div>
