---
title: February 2016 Meetup
when: 2016-02-18T19:00
ends: 2016-02-18T22:30
where: inberlin
---

Hi vimmers!

The next vimberlin meetup will be on 3rd thursday in February, on Feb 18th - again at IN-Berlin in Moabit/Tiergarten/Mitte,
just north of Hauptbahnhof between the bus stops `"Quitzowstraße"` (Bus 123, M27) and `"Kruppstraße"`   (Bus 123).


## Talks so far

This time the topic is:

- **Vim, Zsh - and more."** by [Matthias Günther](https://twitter.com/wikimatze)
- **"Extending Mucks"** by [Matthias Günther](https://twitter.com/wikimatze)
- **":set paste in Vim"** by [Matthias Günther](https://twitter.com/wikimatze)


Interested?  then please tell us that you're coming at the textpad: <https://events.titanpad.com/2016-02-vimberlin>
a nickname will suffice.


## The venue

- internet:  yes. cable+wifi
- projector: 2 projectors. (VGA+HDMI)
- room:      15 people
- drinks:    fridge with 23 drinks. 1€ each.


Bring your laptops - and join the fun! And show us *your* use with Vim!  be brief.. 5min for each presentation. We are
open to any kind of questions.

Your host will be [Sven Guckes](http://www.guckes.net "Sven Guckes") & [Matthias Guenther (@wikimatze)](http://wikimatze.de/ "Matthias Guenther (@wikimatze)")

See you there!


<a id="recap"></a>
## Recap

### [@wikimatze (Matthias Günther)](https://twitter.com/wikimatze)

- wikimatze has adapted "mucks" in his [fork](https://github.com/wikimatze/mucks) and make it possible to run several
tmux session at ones without using the sockets option
- [lervag/vimtex](https://github.com/lervag/vimtex): A vim plugin that provides support for writing LaTeX. Nice
toggling, nice support for various PDF viewer and continous building
- [clever-f.vim](https://github.com/rhysd/clever-f.vim): Extended f, F, t, and T mappings - results will be highlighted
and press the buttons again to repeat the search clever-f plugin
neoyank
- [Shougo/neoyank.vim](https://github.com/Shougo/neoyank.vim): add documentation for the [action-append
option](https://github.com/Shougo/neoyank.vim/commit/e66dd9b34ae2ac866cfdd7c62fa6863287c03e65)
- [teamviewer.com/](http://www.teamviewer.com/de/): is great when Mac machines forget their MiniDisplay-Port so that
they can display their screen on the machine, which is connected to the beamer


### [George Crabtree](https://github.com/supercrabtree)

- [junegunn/vim-peekaboo](https://github.com/junegunn/vim-peekaboo): easy way to manager `registers`
- [dyng/ctrlsf.vim](https://github.com/sandric/ctrlsf): An ack/ag powered code search and view tool, in an intuitive way
with fairly more context.
- [so-fancy/diff-so-fancy](https://github.com/so-fancy/diff-so-fancy): good-looking git-diffs without `+` and `-`
- [getbitbar](https://getbitbar.com/): put script output direct in your Mac menue
- [jiahaog/Nativefier](https://github.com/jiahaog/Nativefier): a great way to create native apps for Windows, Mac, and
Linux from Webpages


### [@oracle2025 (Richard Spindler)](https://twitter.com/oracle2025)
Explains his desktop publishing tools/flow in Vim

- [junegunn/goyo.vim](https://github.com/junegunn/goyo.vim): distraction free writing
- [benmills/vimux](https://github.com/benmills/vimux): tmux and vim interaction
- `.vimrc`: map F5 to make: nmap <F5> :call VimuxRunCommand("make")<cr>
- `.tmux.conf` hide statusbar: bind h set-option -g status
- [vim-pandoc/vim-pandoc-syntax](https://github.com/vim-pandoc/vim-pandoc-syntax)
- [reedes/vim-pencil](https://github.com/reedes/vim-pencil): default settings for writing documents
- Hints: Set vim-pencil to "wrap hard" (see vim-pencil docs)
- WordCount: <http://stackoverflow.com/a/116454>
- <http://kevinburke.bitbucket.org/markdowncss/>
- <http://lincolnmullen.com/blog/make-and-pandoc>
- Also, my dotfiles: <https://github.com/oracle2025/.vim>


### Other tools
- [surf suckless](http://surf.suckless.org/): simple webbrowser able to display websites and follow links
- [devdocs.io](http://devdocs.io/): combines multiple API for locale documentation

