---
title: Vim + Beer = "Vimbeerlin", the Meetup in November 2017
when: 2017-11-23T19:00
ends: 2017-11-23T22:30
where: inberlin
topics:
  - Vim Conf 2017 in Tokyo
  - Vimly - an easy-way to learn VIM and read its awesome manual.
  - show and tell
  - questions
---

Hi,

come and join us for the November 2017,
Interested? We are always interested in short-talks, longer talks as well as presentations about what you've learned.
Post your proposals under
<https://github.com/vimberlin/vimberlin.de/issues/33></https://github.com/vimberlin/vimberlin.de/issues/33>.

If you will join the meetup, please reserve a place under
<https://doodle.com/poll/7y4gs9gqg6rr7kep>.


## Talks

- [@wikimatze](https://twitter.com/wikimatze "@wikimatze"): Vim Conf 2017 in Tokyo
- [Giacomo Mantani](https://github.com/jak3 "Giacomo Mantani"): Vimly: an easy-way to learn VIM and read its awesome manual.


## The venue

- internet: yes. cable+wifi
- projector: 2 projectors. (VGA+HDMI), if you have a Mac, don't forget your adapters and/or install
  [teamviewer.com/](http://www.teamviewer.com/de/)
  - room: 15 people
  - drinks: fridge with drinks. 1€ each.


Bring your laptops - and join the fun! And show us *your* use with Vim! Be brief.. 5min for each presentation. We are
open to any kind of questions and suggestions.


Your host will be [Sven Guckes (@guckes)](http://www.guckes.net "Sven Guckes") & [Matthias Guenther
(@wikimatze)](https://wikimatze.de/ "Matthias Guenther (@wikimatze)")


See you there!


<a id="recap"></a>
## Recap

Video about the talk "Vimly: an easy-way to learn VIM and read its awesome manual." [Giacomo Mantani](https://github.com/jak3 "Giacomo Mantani")

<div style="position:relative;height:0;padding-bottom:56.25%"><iframe
src="https://www.youtube.com/embed/-MVFo48EUu0?ecver=2" width="640" height="360" frameborder="0" gesture="media"
style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div></iframe></div>
